/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

/* Header styles */
.topPage {
    text-align: center;
    background: linear-gradient(to bottom, #562d7f, #26acca);
    padding: 20px;
    margin-bottom: 20px;
}

.topPage h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
}

/* Page title styles */
.pageTitle {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 36px;
    margin: 0px;
    color: #fff;
}

.ball-name {
    color: white;
}

/* Main text styles */
.mainText {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.mainText {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

/* Bowling balls container styles */
.bowlingBalls {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Individual bowling ball styles */
.bowlingBall {
    width: 200px;
    height: 200px;
    background-color: #333; /* Solid color */
    background-image: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: spin 8s infinite linear; /* Always spinning */
}

/* Define the spinning animation */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* Add shine effect */
.bowlingBall:before,
.bowlingBall:after {
    content: '';
    position: absolute;
    width: 100px; /* Adjust the width of the shine */
    height: 100px; /* Adjust the height of the shine */
    background: rgba(255, 255, 255, 0.3); /* Adjust the color and opacity of the shine */
    border-radius: 50%;
    transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
}

.bowlingBall:before {
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.bowlingBall:after {
    top: 50%;
    right: 20%;
    transform: translate(50%, -50%);
}

/* Adjust the opacity of the shine on hover */
.bowlingBall:hover:before,
.bowlingBall:hover:after {
    opacity: 0.1; /* Adjust the opacity on hover */
}

.bowlingBall:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    transform: translateZ(-10px);
}

.bowlingBall:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    transform: translateZ(10px);
}

.bowlingBall p {
    margin-top: 5px;
}

/* Add ball button styles */
.addBall {
    width: 200px;
    height: 200px;
    background-color: #26acca;
    background-image: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addBall:hover {
    background-color: #4891ac;
}

/* Add ball form styles */
.addBallForm {
    display: none;
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addBallForm.show {
    display: block;
}

.addBallForm h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.addBallForm label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.addBallForm input {
    width: calc(100% - 20px);
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.addBallForm button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #26acca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBallForm button:hover {
    background-color: #4891ac;
}

a:link {
    text-decoration: none;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
    background-color: #333;
 }
 th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #333;
  }

  tr:nth-child(even) {
    background-color: #474747;
  }

  tr:hover {
    background-color: #797979;
  }
  .addEstablishment {
    /* Keep the same styles as the Add Ball button */
    width: 200px;
    height: 200px;
    background-color: #26acca;
    background-image: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addEstablishment:hover {
    background-color: #4891ac;
}

/* Add Establishment form styles */
.addEstablishmentForm {
    /* Adjust the background color and border-radius */
    display: none;
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px; /* Set border-radius to 10px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addEstablishmentForm.show {
    display: block;
}

.addEstablishmentForm h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.addEstablishmentForm label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.addEstablishmentForm input {
    width: calc(100% - 20px);
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.addEstablishmentForm button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #26acca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addEstablishmentForm button:hover {
    background-color: #4891ac;
}
 
