body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

/* Header Styles */
.topPage {
    text-align: center;
    background: linear-gradient(to bottom, #562d7f, #26acca);
    padding: 20px;
    margin-bottom: 20px;
}

.topPage h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
}

/* Event Cards Section */
.eventCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjusted to flex-start */
    padding: 20px;
    margin-bottom: 20px;
}

.eventCard {
    width: 315px;
    height: 315px; /* Set height for consistent size */
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Hide overflowing content */
    margin-right: 20px;
}

.eventCard p {
	margin-bottom: 15px;
	 font-size: 16px;
}

.eventCard h2 {
	margin-bottom: 20px;
	 font-size: 23px;
}

p strong {
	 color: #26acca; 
	  font-weight: 500px;
}

.eventCard:hover {
    background-color: #555;
}

a:link {
    text-decoration: none;
}
