/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #222; /* Dark background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo img {
    width: 75px; /* Adjust logo width */
    height: auto;
}

.links {
    display: flex;
}

.nav-item {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-right: 2rem;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #553180; /* Change color on hover */
}

.account,
.login {
    display: flex;
    align-items: center; /* Align items vertically */
}

.account-btn,
.login-btn {
    background-color: #553180;
    border: none;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
   margin-left: 20px;
   margin-top: 9px;
    cursor: pointer;
    transition: all 0.3s;
}

.account-btn:hover,
.login-btn:hover {
    background-color: #412562;
    color: #fff; /* White text color */
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222; /* Dark background */
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: #553180;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.loggedInName{
    padding: 8px 20px;
    font-size: 16px;
    margin-right: 20px;
}
.left {
    float: left;
}

.center {
    float: left; 
}

.right {
    float: right;
}