body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

.topPage {
    background: linear-gradient(to bottom, #562d7f, #26acca);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.infoSection {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:10px;
    float: left;
    width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: 600px;
}

.graphSection {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:10px;
    float: left;
    width: calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center; /* Center the text */
    height: 600px;
}

.infoSectionGraph {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    float: right;
    width: calc(50% - 20px);
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center; /* Center the text */
}

.infoSection:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.infoSection h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.infoSection p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    color: #fff;
}

.infoSection ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

.infoSection li {
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    right: 40px;
}

.infoSectionGraph:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.highlight {
    color: #26acca; /* Set the color to #26acca */
    font-weight: bold; /* Make the text bold */
    text-align: left; /* Align the text to the left */
    margin-bottom: 50px;
    margin-left:20px;
    font-size: 20px;
   
    
}
#myPlot {
    margin: 0 auto; /* Set left and right margin to auto */
    max-width: 700px; /* Set max-width if needed */
}