* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

.topPage {
    text-align: center;
    background: linear-gradient(to bottom, #562d7f, #26acca);
    padding: 20px;
    margin-bottom: 20px;
}

.topPage h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.tournaments {
    display: flex;
    flex-wrap: wrap;
}

.tournament {
    flex: 0 0 calc(33.33% - 20px);
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.tournament:last-child {
    margin-right: 0;
}

.tournament:hover {
    background-color: #555;
}

.tournament h2 {
    margin-top: 0;
    font-size: 20px;
}

.tournament p {
    margin-bottom: 10px;
}
